<h1> LISTA DE BEBIDAS </h1>

<h2> CADASTRAR BEBIDAS </h2>
<input type="text" placeholder="Codigo" [(ngModel)]="novoCodigo">
<input type="text" placeholder="Descricao" [(ngModel)]="novaDescricao">
<input type="number" placeholder="Preco" [(ngModel)]="novoPreco">

<label> Contém açúcar
<input type="checkbox"  [(ngModel)]="novoContemAcucar">
</label>
<button (click)="salvar()">Salvar</button>


<table>
  <tr>
    <th>Codigo</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Contem Açúcar</th>
  </tr>
  @for (bebida of bebidas(); track bebida.id){
  <tr>
    <td>{{ bebida.codigo }}</td>
    <td>{{ bebida.descricao }}</td>
    <td>{{ bebida.precoUnitario }}</td>
    <td>{{ bebida.contemAcucar }}</td>
  </tr>
  }

</table>
